@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}

body {
  @apply bg-slate-950 text-white selection:bg-blue-600;
}

@layer components {
  .glass-card {
    @apply backdrop-blur-3xl;
  }
}

@keyframes bounce-subtle {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(0); }
}

.animate-bounce-subtle {
  animation: bounce-subtle 3s infinite ease-in-out;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-white/5;
}
::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20;
}
